@font-face {
    font-family: Helvetica;
    src: url(../font/helvetica.ttf);
}

body {
    font-family: 'Helvetica', sans-serif;
}

#modal {
    display: none;
}

#shadow {
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

#dialog {
    background-image: url(../img/dialog.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 638px;
    height: 483px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -319px;
    margin-top: -241px;
    padding: 51px 47px 39px 37px;
    text-align: center;
    font-size: 1.5em;
}

#show-answer {
    background-image: url(../img/show_answer.png);
    background-size: contain;
    border: none;
    width: 250px;
    height: 43px;
    cursor: pointer;
}

#answer {
    display: none
}

#close-button {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 47px;
    height: 47px;
    cursor: pointer;
}

#map-list {
    list-style-type: none;
    padding: 0;
    margin: 20px;
    position: fixed;
    left: 0px;
    bottom: 0px;
}

#map-list li {
    display: inline-block;
    margin-left: 1em;
    font-size: 2em;
    cursor: pointer;
}

#bgm-btn {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 20px;
    z-index: -1;
}

.map {
    width: 959px;
    height: 580px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -480px;
    margin-top: -290px;
    z-index: -1;
}

.node {
    width: 48px;
    height: 32px;
    position: absolute;
    cursor: pointer;
}
